name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake g++-11 clang-format

    - name: Configure CMake
      run: cmake -B build -DCMAKE_CXX_COMPILER=g++-11

    - name: Build
      run: cmake --build build

    - name: Run tests
      run: ctest --test-dir build
